<nav class="navbar navbar-expand-lg bg-dark py-2">
  <div class="container-xl">
    <a class="navbar-brand text-light" routerLink="/home" routerLinkActive="active" > Inicio</a>
    <button class="navbar-toggler btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/artistas" routerLinkActive="active" >Artistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/ofertas" routerLinkActive="active" >Ofertas</a>
        </li>


        <li>
          <div class="dropdown">
            <!--
            <button
              class="btn btn-dark dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Cursos
            </button>
            -->

            <!--
            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item text-light bg-dark" href="#">Ilustracion 3D</a></li>
              <li><a class="dropdown-item text-light bg-dark" href="#">Ilustracion 2D</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-light bg-dark" href="#">Something else here</a></li>
            </ul>
            -->

          </div>
        </li>
      </ul>


      <div class="d-flex">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul *ngIf="!userService.isUserLogged" class="my-0">
            <button class="btn btn-outline-success border-3 mx-2 my-1" type="submit" routerLink="/login" routerLinkActive="active">Iniciar Sesion</button>
            <button class="btn btn-outline-success border-3 mx-2 my-1" type="submit" routerLink="/signUp" routerLinkActive="active">Registrarse</button>
          </ul>
          <div *ngIf="userService.isUserLogged" class="my-0">
            <p style="color: white" class="my-0">Welcome, user!</p>
            <button *ngIf="userService.userType == 'artista' || userService.userType == 'empresa'"
                    routerLink="/usuario" routerLinkActive="active" >
              Perfil
            </button>
            <button (click)="userService.logout()">LogOut</button>

            <div *ngIf="userService.userType == 'administrador'" class="my-0">
              <button routerLink="/administracion" routerLinkActive="active">Administrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
