<div class="container-xl my-4 min-vh-100">
  <h2 class="text-center">Crear cuenta</h2>

  <div class="d-flex justify-content-center my-4">
    <form [formGroup]="artistForm" (ngSubmit)="submit()" class="w-50 p-4 border border-3 bg-body-secondary">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      </div>
      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="password">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="fa-solid fa-eye-slash" [ngClass]="showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>
      </div>
      <div class="mb-3 position-relative">
        <label for="confirmPassword" class="form-label">Confirma tu Contraseña</label>
        <div class="input-group">
          <input [type]="showRepeatedPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirmPassword">
          <button type="button" class="btn btn-outline-secondary" (click)="toggleRepeatedPasswordVisibility()">
            <i class="fa-solid fa-eye-slash" [ngClass]="showRepeatedPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" formControlName="email" />
      </div>

      <hr>

      <!--Preguntamos si es artista o Empresa -->
      <div class="mb-3">
        <label class="form-label">¿Eres un Artista o un Negocio?</label><br/>
        <div>
          <input class="align-middle" type="radio" id="artist" formControlName="userType" value="artist" (change)="onUserTypeChange()">
          <label class="mx-2" for="artist">Artista</label>
        </div>
        <div>
          <input class="align-middle" type="radio" id="business" formControlName="userType" value="business" (change)="onUserTypeChange()">
          <label class="mx-2" for="business">Negocio</label>
        </div>
      </div>



      <!-- Extra Fields for Artists -->
      <div *ngIf="userType === 'artist'">
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mb-3">
          <label for="yearsOfExperience">Años de Experiencia en el sector</label>
          <input type="number" class="form-control" id="yearsOfExperience" formControlName="yearsOfExperience">
        </div>
      </div>

      <!-- Extra Fields for Businesses -->
      <div *ngIf="userType === 'business'">
        <div class="mb-3">
          <label for="nombreEmpresa">Nombre del Negocio</label>
          <input type="text" class="form-control" id="nombreEmpresa" formControlName="nombreEmpresa">
        </div>
        <div class="mb-3">
          <label for="nombreRepresentante">Nombre del representante</label>
          <input type="url" class="form-control" id="nombreRepresentante" formControlName="nombreRepresentante">
        </div>
      </div>



      <div *ngIf="aviso" class="alert alert-danger mt-3">
        {{aviso}}
      </div>
      <button type="submit" class="btn btn-success">Crear Cuenta</button>
    </form>
  </div>

  <div class="d-flex justify-content-center my-4">
    <div class="w-50 d-flex justify-content-center flex-column">
      <hr>
      <button type="submit" class="btn my-4 btn-primary mx-4 rounded rounded-5"
              routerLink="/login" routerLinkActive="active">
        ¿Ya tienes una cuenta?
      </button>
    </div>
  </div>
</div>
