<div class="container-xl my-4 min-vh-100">
  <h2>Editar Usuario</h2>
  <hr>

  <!--ARTISTA-->
  <form *ngIf="esArtista" [formGroup]="editarArtistaForm" (ngSubmit)="submitArtista()">
    <div class="mb-3">
      <label class="form-label">Id:</label>
      <input class="form-control" [value]="usuario.id" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre:</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label class="form-label">Años de Experiencia:</label>
      <input type="number" class="form-control" formControlName="yearsOfExperience">
    </div>
    <div class="mb-3">
      <label class="form-label">descripcion Corta:</label>
      <input type="text" class="form-control"  formControlName="descripcionCorta">
    </div>    <div class="mb-3">
    <label class="form-label">descripcion Larga:</label>
    <input type="text" class="form-control" formControlName="descripcionLarga">
  </div>

    <div *ngIf="aviso" class="alert alert-danger mt-3">
      {{aviso}}
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
  </form>





  <!--EMPRESA-->
  <form *ngIf="esEmpresa" [formGroup]="editarEmpresaForm" (ngSubmit)="submitEmpresa()">
    <div class="mb-3">
      <label class="form-label">Id:</label>
      <input class="form-control" [value]="usuario.id" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre Empresa:</label>
      <input type="text" class="form-control" formControlName="nombreEmpresa">
    </div>
    <div class="mb-3">
      <label class="form-label">Numero de Telefono:</label>
      <input type="number" class="form-control" formControlName="numTlf">
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre Representante:</label>
      <input type="text" class="form-control" formControlName="nombreRepresentante">
    </div>

    <div *ngIf="aviso" class="alert alert-danger mt-3">
      {{aviso}}
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
  </form>



    <!--ADMINISTRADOR-->
  <!--EMPRESA-->
  <form *ngIf="esAdmin" [formGroup]="editarAdminForm" (ngSubmit)="submitAdmin()">
    <div class="mb-3">
      <label class="form-label">Id:</label>
      <input class="form-control" [value]="usuario.id" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre:</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label class="form-label">Nivel de Privilegio:</label>
      <input class="form-control" [value]="usuario.privilegeLevel" disabled>
    </div>

    <div *ngIf="aviso" class="alert alert-danger mt-3">
      {{aviso}}
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
  </form>






</div>
