<!-- ////MAIN//// -->
<main class="container-xl bg-light py-4">
  <!-- ////BREADCRUMP//// -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Incio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Artistas</li>
    </ol>
  </nav>

  <div class="row">
    <div class="row d-flex justify-content-between align-items-center py-4">
      <h1 class="col-sm-6 ">ARTISTAS DESTACADOS</h1>
    </div>

    <hr>

    <div class="row d-flex justify-content-center py-4">
      <div class="card-group">
        <div class="card mx-4" >
          <img src="assets/Portfolio1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Artista 1</h5>
            <p class="card-text">Profesional con 6 años de experiencia en el desarrollo de ilustraciones en 2D, tanto de paisajes como de ilustraciones</p>
            <a href="artista1.html" class="btn btn-primary ">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio7.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Artista 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="artista2.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio4.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Artista 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="artista3.html" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>





<!-- ////ASIDE//// -->
<aside class="container-xl bg-light py-4">
  <hr class="my-4">

  <!-- ////CATEGORIAS//// -->
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h3>Categoria 1</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
        </li>
      </ul>

      <hr class="my-4">

      <h3>Categoria 2</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">Forth checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">Fiveth checkbox</label>
        </li>
      </ul>


      <hr class="my-4">

      <h3>Categoria 3</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
        </li>
      </ul>

      <div class="col-12 my-4">
        <hr>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>


    <!-- ////TARJETAS//// -->
    <div class="d-flex justify-content-center row col-sm-12 col-md-9">
      <div class="card-group my-4">
        <div class="card mx-4">
          <img src="assets/Portfolio4.png" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio5.jpg" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio6.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Artista 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="card-group my-4">
        <div class="card mx-4" >
          <img src="assets/Portfolio5.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 1</h5>
            <p class="card-text">Profesional con 6 años de experiencia en el desarrollo de ilustraciones en 2D, tanto de paisajes como de ilustraciones</p>
            <a href="#" class="btn btn-primary ">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="../../../assets/Portfolio2.jpg" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio3.jpg" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="card-group my-4">
        <div class="card mx-4" >
          <img src="assets/Portfolio7.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 1</h5>
            <p class="card-text">Profesional con 6 años de experiencia en el desarrollo de ilustraciones en 2D, tanto de paisajes como de ilustraciones</p>
            <a href="#" class="btn btn-primary ">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio4.png" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio3.jpg" class="card-img-top " alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
