<!-- ////FOOTER//// -->
<footer class="bg-dark py-4">
  <div class="container-xl">
    <div class="row">
      <ul class="list-group list-group-flush col-12 col-sm-6 col-md-3 text-center">
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Home</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Docs</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Examples</a></li>
      </ul>
      <ul class="list-group list-group-flush col-12 col-sm-6 col-md-3 text-center">
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Getting Started</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Starter template</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Webpack</a></li>
      </ul>
      <ul class="list-group list-group-flush col-12 col-sm-6 col-md-3 text-center">
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Bootstrap 5</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Bootstrap 4</a></li>
        <li class="list-group-item bg-dark"><a href="" class="text-light text-decoration-none">Discussions</a></li>
      </ul>
      <div class="col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
        <i class="fa-brands fa-instagram text-light mx-2 fs-4"></i>
        <i class="fa-brands fa-x-twitter text-light mx-2 fs-4"></i>
        <i class="fa-brands fa-facebook text-light mx-2 fs-4"></i>
        <i class="fa-brands fa-youtube text-light mx-2 fs-4"></i>
      </div>
    </div>
  </div>
</footer>
