<div class="container-xl bg-light py-4 min-vh-100">
  <div class="my-4">
    <button class="btn btn-outline-primary mx-2" routerLink="/usuariosAdministracion" routerLinkActive="active">Usuarios</button>
    <button class="btn btn-outline-primary mx-2" routerLink="/idiomasAdministracion" routerLinkActive="active">Idiomas</button>
  </div>

  <h2>Administrar Usuarios</h2>
  <hr>

  <div class="row py-2">
    <p class="fw-bold col-md-1 col-sm-12">id</p>
    <p class="fw-bold col-md-2 col-sm-12">nombre</p>
    <p class="fw-bold col-md-2 col-sm-12">Ultima Actualizacion</p>
  </div>

  <div *ngFor="let idioma of idiomas; let i = index">
    <div class="row py-2" [ngClass]="{'bg-secondary': i %2 === 0,'bg-secondary-subtle': i %2 !== 0,}">
      <p class="col-md-1 col-sm-12">{{idioma.id}}</p>
      <p class="col-md-2 col-sm-12">{{idioma.nombre}}</p>
      <p class="col-md-5 col-sm-12">{{idioma.ultimaActualizacion | date:'dd/MM/yyyy'}}</p>

      <div class="px-2 py-1 col-md-2 col-sm-4 ">
        <button class="btn btn-warning w-100" [routerLink]="['/editar-idioma', idioma.id]">Editar</button>
      </div>
      <div class="px-2 py-1 col-md-2 col-sm-4 ">
        <button class="btn btn-danger w-100" (click)="openDeleteModal(idioma.id)">Eliminar</button>
      </div>
    </div>
  </div>


  <!-- Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar este usuario?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteIdiomaInfo()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer bg-danger" *ngIf="aviso.length>0">{{ aviso }}</div>
