<div class="container-xl my-4 min-vh-100">
  <h2 class="text-center">Crear Nueva Oferta</h2>

  <div class="d-flex justify-content-center my-4">
    <form [formGroup]="crearOfertaForm" (ngSubmit)="submit()" class="w-50 p-4 border border-3 bg-body-secondary">
      <div class="mb-3">
        <label for="nombrePuesto" class="form-label">Nombre del Puesto</label>
        <input type="text" class="form-control" id="nombrePuesto" formControlName="nombrePuesto">
      </div>
      <div class="mb-3">
        <label for="salarioBrutoMin">Salario Bruto Minimo</label>
        <input type="number" class="form-control" id="salarioBrutoMin" formControlName="salarioBrutoMin">
      </div>
      <div class="mb-3">
        <label for="salarioBrutoMax">Salario Bruto Maximo</label>
        <input type="number" class="form-control" id="salarioBrutoMax" formControlName="salarioBrutoMax">
      </div>
      <div class="mb-3">
        <label for="avaiablePositions">Posiciones Disponibles</label>
        <input type="number" class="form-control" id="avaiablePositions" formControlName="avaiablePositions" />
      </div>
      <div class="mb-3">
        <label for="duracionJornada">Duracion Jornada h/semanales</label>
        <input type="number" class="form-control" id="duracionJornada" formControlName="duracionJornada" />
      </div>
      <div class="mb-3">
        <label for="descripcionPuesto">Descripcion del Puesto</label>
        <input type="text" class="form-control" id="descripcionPuesto" formControlName="descripcionPuesto" />
      </div>
      <div class="mb-3">
        <label for="inscripcionHasta">Fecha límite de Inscripción</label>
        <input type="datetime-local" class="form-control" id="inscripcionHasta" formControlName="inscripcionHasta" />
        <div *ngIf="crearOfertaForm.get('inscripcionHasta')?.hasError('pastDate')">
          <small class="text-danger">La fecha no puede ser anterior a hoy.</small>
        </div>
      </div>

      <hr>

      <div *ngIf="aviso" class="alert alert-danger mt-3">
        {{aviso}}
      </div>
      <button type="submit" class="btn btn-success">Crear Oferta</button>
    </form>
  </div>
</div>
