<!-- ////MAIN//// -->
<main class="container-xl bg-light py-4">
  <!-- ////BREADCRUMP//// -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Incio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ofertas</li>
    </ol>
  </nav>

  <div class="row">
    <!-- ////FILTROS//// -->
    <form class="bg-white col-12 col-md-4">
      <div class="col-md-8 my-4">
        <label for="" class="form-label">¿Que Puesto desea buscar?</label>
        <input type="text" class="form-control" id="" placeholder="¿Nombre del Puesto? / (Opcional)">
      </div>
      <div class="col-12 my-4">
        <div class="col-md-8">
          <label for="" class="form-label">Donde</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Albacete</option>
            <option value="2">Almeria</option>
            <option value="3">Burgos</option>
            <option value="4">Cadiz</option>
            <option value="5">Lugo</option>
            <option value="6">Navarra</option>
            <option value="7">Malaga</option>
            <option value="8">Madriz</option>
            <option value="9">Valladolid</option>
          </select>
        </div>
      </div>

      <div class="col-12 my-4">
        <p>Jornada Laboral</p>
        <hr>

        <div class="row mx-1">
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Mañana
            </label>
          </div>
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Noche
            </label>
          </div>
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Fines de Semana
            </label>
          </div>
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Tarde
            </label>
          </div>
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Mañana y tarde
            </label>
          </div>
          <div class="form-check col-12 col-sm-6 col-md-4">
            <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Turnos Rotativos
            </label>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-12">
        <div class="col-8">
          <label for="customRange3" class="form-label">Salario</label>
          <div class="row">
            <p class="col-10">20€</p>
            <p class="col-2">300€</p>
          </div>
          <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
        </div>
      </div>
      <div class="col-12 my-4">
        <hr>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>

    <!-- ////OFERTAS//// -->
    <div class="ofertas col-12 col-md-8">
      <section class="row bg-dark py-2">
        <p class="text-light col-12 col-sm-3">Fecha de Publicacion</p>
        <p class="text-light col-12 col-sm-3">Fecha Limite</p>
        <p class="text-light col-12 col-sm-4">Puesto</p>
        <p class="text-light col-12 col-sm-2">Empresa</p>
      </section>

      <div *ngFor="let oferta of ofertas; let i = index">
        <section class="row py-2"
                 [ngClass]="{'bg-secondary': i %2 === 0,'bg-secondary-subtle': i %2 !== 0,}"
        >
          <p class="col-12 col-sm-3" [ngClass]="{'text-light': i %2 === 0}">
            {{oferta.fechaPublicacion}}</p>
          <p class="text-light col-12 col-sm-3" [ngClass]="{'text-light': i %2 === 0}">
            {{oferta.inscripcionHasta}}</p>
          <p class="text-light col-12 col-sm-4" [ngClass]="{'text-light': i %2 === 0}">
            {{oferta.nombrePuesto}}</p>
          <p class="text-light col-12 col-sm-2" [ngClass]="{'text-light': i %2 === 0}">
            {{oferta.empresa.nombreEmpresa}}</p>
        </section>
      </div>

      <!--
      <section class="row bg-secondary py-2">
        <p class="text-light col-12 col-sm-3">12/02/2023</p>
        <p class="text-light col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="text-light col-12 col-sm-4">Ilustracion de Personajes 2D</a>
        <p class="text-light col-12 col-sm-2">Mojang</p>
      </section>
      <section class="row bg-secondary-subtle py-2">
        <p class="col-12 col-sm-3">12/02/2023</p>
        <p class="col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="col-12 col-sm-4 text-black">Ilustracion de Personajes 3D</a>
        <p class="col-12 col-sm-2">Capcom</p>
      </section>
      -->

    </div>
  </div>
</main>
