<!-- ////MAIN//// -->
<main class="container-xl bg-light py-4">
  <!-- ////BREADCRUMP//// -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <div class="row">
    <div class="row d-flex justify-content-between align-items-center py-4">
      <h1 class="col-sm-6 ">ARTISTAS DESTACADOS</h1>
      <a href="artistas.html" class="btn btn-primary col-sm-4 mx-2">Ver Mas</a>
    </div>

    <hr>

    <div class="row d-flex justify-content-center py-4">
      <div class="card-group">
        <div class="card mx-4" >

          <img src="assets/Portfolio1.jpg" class="mg-fluid" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 1</h5>
            <p class="card-text">Profesional con 6 años de experiencia en el desarrollo de ilustraciones en 2D, tanto de paisajes como de ilustraciones</p>
            <a href="artista1.html" class="btn btn-primary ">Detalles</a>
          </div>
        </div>
        <div class="card mx-4">
          <img src="assets/Portfolio7.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Artista 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="artista2.html" class="btn btn-primary">Detalles</a>
          </div>
        </div>
        <div class="card mx-4 ">
          <img src="assets/Portfolio4.png" class="card-img-top img-fluid" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Artista 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="artista3.html" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



<!-- ////ASIDE//// -->
<aside class="container-xl bg-light py-4">
  <div class="row">

    <div class="row d-flex justify-content-between align-items-center py-4">
      <h1 class="col-sm-6 ">OFERTAS DESTACADAS</h1>
      <a href="ofertas.html" class="btn btn-primary col-sm-4 mx-2">Ver Mas</a>
    </div>

    <hr>

    <div class="ofertas col-12">
      <section class="row bg-dark py-2">
        <p class="text-light col-12 col-sm-3">Fecha de Publicacion</p>
        <p class="text-light col-12 col-sm-3">Fecha Limite</p>
        <p class="text-light col-12 col-sm-4">Puesto</p>
        <p class="text-light col-12 col-sm-2">Empresa</p>
      </section>

      <section class="row bg-secondary py-2">
        <p class="text-light col-12 col-sm-3">12/02/2023</p>
        <p class="text-light col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="text-light col-12 col-sm-4">Ilustracion de Personajes 2D</a>
        <p class="text-light col-12 col-sm-2">Mojang</p>
      </section>
      <section class="row bg-secondary-subtle py-2">
        <p class="col-12 col-sm-3">12/02/2023</p>
        <p class="col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="col-12 col-sm-4 text-black">Ilustracion de Personajes 3D</a>
        <p class="col-12 col-sm-2">Capcom</p>
      </section>
      <section class="row bg-secondary py-2">
        <p class="text-light col-12 col-sm-3">12/02/2023</p>
        <p class="text-light col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="text-light col-12 col-sm-4">Ilustracion de Personajes 2D</a>
        <p class="text-light col-12 col-sm-2">Nintendo</p>
      </section>
      <section class="row bg-secondary-subtle py-2">
        <p class="col-12 col-sm-3">12/02/2023</p>
        <p class="col-12 col-sm-3">28/02/2023</p>
        <a href="oferta1.html" class="col-12 col-sm-4 text-black">Ilustracion de Personajes 3D</a>
        <p class="col-12 col-sm-2">Mobius</p>
      </section>
    </div>
  </div>
</aside>
