<div class="container-xl bg-light py-4 min-vh-100">
  <div class="my-4">
    <button routerLink="/usuariosAdministracion" routerLinkActive="active">Usuarios</button>
    <button>Ofertas</button>
    <button>Idiomas</button>
  </div>

  <h2>Administrar Usuarios</h2>
  <hr>

  <div class="row py-2">
    <p class="fw-bold col-md-1 col-sm-12">id</p>
    <p class="fw-bold col-md-2 col-sm-12">username</p>
    <p class="fw-bold col-md-2 col-sm-12">email</p>
  </div>

  <div *ngFor="let usuario of usuarios; let i = index">
    <div class="row py-2" [ngClass]="{'bg-secondary': i %2 === 0,'bg-secondary-subtle': i %2 !== 0,}">
      <p class="col-md-1 col-sm-12">{{usuario.id}}</p>
      <p class="col-md-2 col-sm-12">{{usuario.username}}</p>
      <p class="col-md-5 col-sm-12">{{usuario.email}}</p>

      <div class="px-2 py-1 col-md-2 col-sm-4 ">
        <button class="btn btn-warning w-100" [routerLink]="['/editar-usuario', usuario.id]">Editar</button>
      </div>
      <div class="px-2 py-1 col-md-2 col-sm-4 ">
        <button class="btn btn-danger w-100" (click)="deleteUserInfo(usuario.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<div class="footer bg-danger" *ngIf="aviso.length>0">{{ aviso }}</div>
